body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

input[type=number] {
    width: 6em;
}

.box {
    background-color: #ccc;
    border-radius: 0px;
    min-height: 20px;
    min-width: 20px;
    height: 5vmin;
    width: 5vmin;
}

.wrapper {
    display: grid;
    grid-gap: 0.4vmin;
    width: min-content;
    grid-template-columns: repeat(4, auto);
    background-color: #000;
}